<%- include("partials/header.ejs") -%>

    <form action="/" method="post">
      <header>
        <input type="text" autocomplete="off" class="search-box" placeholder="Search for a city..." name="cityName" />
        <button class="btn" type="submit">➔</button>
      </header>
    </form>

  <%- include("partials/footer.ejs") -%>
